name: Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
  workflow_run:
    workflows: ["Manual Backfill", "Daily Update"]
    types:
      - completed

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.150.1'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Copy .htaccess to public directory
        run: cp .htaccess public/

      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./public/
          server-dir: /public_html/chipcom.org/ryusei-perfect-collection/
          delete: true
          parallel: 10
